In [1]:
import yfinance as yf
import pandas as pd
from pathlib import Path

In [2]:
# Define the companies that we want to analyse
symbols = ["NPN.JO", "AGL.JO", "JSE.JO"]  # Naspers, Anglo American, JSE Ltd

In [3]:
df = yf.download(" ".join(symbols), start="2015-01-01", auto_adjust=True)

[*********************100%***********************]  3 of 3 completed

In [4]:
df

Price              Close                                       High  \
Ticker            AGL.JO        JSE.JO         NPN.JO        AGL.JO
Date
2015-01-01  20992.525391  12028.530273   95164.421875  20992.525391
2015-01-02  20833.619141  12001.690430   96050.054688  21447.806332
2015-01-05  19741.732422  11992.742188   95024.359375  21037.374297
2015-01-06  20140.468750  12028.530273   99806.695312  20181.414699
2015-01-07  20040.052734  12007.655273  103636.242188  20275.003727
...                  ...           ...            ...           ...
2025-08-26  52710.000000  12815.000000  591332.000000  53134.000000
2025-08-27  52660.000000  12835.000000  579489.000000  53379.000000
2025-08-28  54075.000000  12800.000000  578260.000000  54450.000000
2025-08-29  54250.000000  12668.000000  580867.000000  55000.000000
2025-09-01  53705.000000  12671.000000  573018.000000  54217.000000

Price                                             Low                \
Ticker            JSE.JO         NPN.JO        AGL.JO        JSE.JO
Date
2015-01-01  12028.530273   95164.421875  20992.525391  12028.530273
2015-01-02  12028.530953   97041.192857  20827.770554  11929.121607
2015-01-05  12153.785310   97844.515097  19810.948802  11921.167466
2015-01-06  12028.530273   99806.695312  19695.913840  11941.050053
2015-01-07  12029.525330  104075.914166  19757.330824  11929.121888
...                  ...            ...           ...           ...
2025-08-26  12934.000000  592739.000000  51873.000000  12767.000000
2025-08-27  12949.000000  586400.000000  52574.000000  12701.000000
2025-08-28  12960.000000  582990.000000  52713.000000  12800.000000
2025-08-29  12806.000000  583955.000000  53880.000000  12561.000000
2025-09-01  12767.000000  588263.000000  53548.000000  12501.000000

Price                              Open                                Volume  \
Ticker             NPN.JO        AGL.JO        JSE.JO         NPN.JO   AGL.JO
Date
2015-01-01   95164.421875  20992.525391  12028.530273   95164.421875        0
2015-01-02   94340.367900  21052.973237  12028.530953   94842.848960   705047
2015-01-05   94793.843086  20832.644586  11962.919387   96099.659481  3819037
2015-01-06   96221.512938  19964.987777  12028.530273   97961.971439  1896958
2015-01-07  100182.331580  19892.842219  11929.121888  100872.607605  1911957
...                   ...           ...           ...            ...      ...
2025-08-26  585012.000000  52160.000000  12901.000000  588466.000000  1315525
2025-08-27  576358.000000  52697.000000  12800.000000  586400.000000   900137
2025-08-28  576027.000000  52570.000000  12849.000000  580620.000000  1719179
2025-08-29  576800.000000  54069.000000  12726.000000  580500.000000  1122539
2025-09-01  573018.000000  53761.000000  12670.000000  588500.000000  1186134

Price
Ticker      JSE.JO   NPN.JO
Date
2015-01-01       0        0
2015-01-02    2088   691238
2015-01-05  307456  2727066
2015-01-06   22119  3500994
2015-01-07   33659  2077975
...            ...      ...
2025-08-26  154722  1180273
2025-08-27   43613   309871
2025-08-28  195817   249786
2025-08-29  398921   291747
2025-09-01  148989   221833

[2694 rows x 15 columns]

In [7]:
df.to_parquet("/Users/user1/coding-projects/sa-investments/sa-investment-portfolio/data/processed/jse_sample.parquet")
df.tail()

Price         Close                        High                         Low  \
Ticker       AGL.JO   JSE.JO    NPN.JO   AGL.JO   JSE.JO    NPN.JO   AGL.JO
Date
2025-08-26  52710.0  12815.0  591332.0  53134.0  12934.0  592739.0  51873.0
2025-08-27  52660.0  12835.0  579489.0  53379.0  12949.0  586400.0  52574.0
2025-08-28  54075.0  12800.0  578260.0  54450.0  12960.0  582990.0  52713.0
2025-08-29  54250.0  12668.0  580867.0  55000.0  12806.0  583955.0  53880.0
2025-09-01  53705.0  12671.0  573018.0  54217.0  12767.0  588263.0  53548.0

Price                             Open                      Volume          \
Ticker       JSE.JO    NPN.JO   AGL.JO   JSE.JO    NPN.JO   AGL.JO  JSE.JO
Date
2025-08-26  12767.0  585012.0  52160.0  12901.0  588466.0  1315525  154722
2025-08-27  12701.0  576358.0  52697.0  12800.0  586400.0   900137   43613
2025-08-28  12800.0  576027.0  52570.0  12849.0  580620.0  1719179  195817
2025-08-29  12561.0  576800.0  54069.0  12726.0  580500.0  1122539  398921
2025-09-01  12501.0  573018.0  53761.0  12670.0  588500.0  1186134  148989

Price
Ticker       NPN.JO
Date
2025-08-26  1180273
2025-08-27   309871
2025-08-28   249786
2025-08-29   291747
2025-09-01   221833